
.container {
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 20px;
}

.container h2 {
    font-size: 24px;
    color: #2c3e50;
    margin-bottom: 20px;
}

.item-list {
    margin-bottom: 30px;
}

.item {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    transition: transform 0.3s, box-shadow 0.3s;
    margin-bottom: 10px;
    position: relative;
}

.item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}

.item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
    border: 3px solid #f9ca24;
    transition: transform 0.3s ease-in-out;
}

.item img:hover {
    transform: scale(1.1);
}

.item-details {
    flex: 1;
}

.item-details p {
    font-size: 14px;
    color: #2c3e50;
    margin-bottom: 5px;
}

.item-details .detail {
    color: #7f8c8d;
    font-size: 13px;
}

.add-item-form {
  width: 900px;
  height: auto;
  padding: 50px; 
  margin: 30px auto; 
  background-color: #f9f9f9; 
  border-radius: 12px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

  .add-item-form h3 {
    font-size: 24px;
    color: #2c2c54;
    margin-bottom: 20px;
    font-weight: bold;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    font-size: 16px;
    color: #2c2c54;
    margin-bottom: 8px;
  }

  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.3s ease;
  }

  .form-group input[type="file"] {
    padding: 5px;
  }

  .form-group input:focus,
  .form-group textarea:focus {
    border-color: #f9ca24;
  }
.submit-btn {
    background-color: #f9ca24;
    color: #2c2c54;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}
footer{
  position: absolute;
}


.submit-btn:hover {
    background-color: #e1b012;
    transform: scale(1.05);
  }



.image-preview {
    margin-top: 10px;
    max-width: 100px;
    max-height: 100px;
    border-radius: 5px;
    display: none;
}

.delete-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff6b6b;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 15%;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

.delete-btn:hover {
    background-color: #e60000;
}